.underline-heading {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.underline-heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: #ffc107;
  transition: width 0.3s ease-in-out;
}

.underline-heading:hover::after {
  width: 100%;
}

.card img {
  object-fit: cover;
  height: 220px;
  width: 100%;
}
.social-media-section{
    background-color: #3c3524;
    color: #c4a047;
    padding: 5px 10px 7px;
    border-radius: 50%;
}
.social-media-section:hover{
    background-color: #ffc107;
    color: #ffffff;
}